*{
  margin: 0;
  padding: 0;
}
#root{
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 160, 160);
}
.cardContainer{
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 20%;
  top: 40%;
  width: 600px;
  height: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgb(105, 105, 245);

}
.card{
  margin-bottom: 20px;
  background-color: bisque;
  height: 300px;
  width: 600px;
}
h6{
  height: 200px;
  width: 100%;
  overflow: auto;
}